name: build-lib-vlc-simple

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clean runner environment
        run: |
          rm -rf ~/.gradle/caches/transforms-*
          rm -rf ~/.android/build-cache/

      - name: Checkout
        uses: actions/checkout@main
        with:
          submodules: true

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libglu1-mesa-dev g++-multilib gcc-multilib libasound2-dev libx11-dev libxext-dev libxi-dev libxrandr-dev libxinerama-dev libmbedtls-dev libpng-dev libturbojpeg-dev libuv1-dev libvorbis-dev
          sudo apt install automake ant autopoint cmake build-essential libtool-bin \
              patch pkg-config protobuf-compiler ragel subversion unzip git \
              flex python3 wget

      - name: Setup Android NDK
        uses: nttld/setup-ndk@main
        id: setup-ndk
        with:
          ndk-version: r21e

      - name: Setup Java JDK
        uses: actions/setup-java@main
        with:
          distribution: 'zulu'
          java-version: '19'

      - name: Git clone
        run: |
          git clone https://code.videolan.org/videolan/vlc-android.git

      - name: Building
        run: |
          sudo chmod -R 777 vlc-android/buildsystem/compile.sh
          vlc-android/buildsystem/compile.sh -l -a arm64
        env:
          ANDROID_NDK: ${{ steps.setup-ndk.outputs.ndk-path }}
          ANDROID_SDK: $ANDROID_HOME

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: build
          path: ./
          if-no-files-found: error