name: build-apk-pdfviewer
 
on:
  workflow_dispatch:
  workflow_call:
 
env:
  JDK_VERSION: '21'
  ANDROID_COMPILE_SDK: '36'
  ANDROID_BUILD_TOOLS: '36.0.0'
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
 
permissions:
  contents: write
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clean runner environment
        run: |
          # 清理可能存在的全局缓存文件
          rm -rf ~/.gradle/caches/
          rm -rf ~/.gradle/daemon/
          rm -rf ~/.android/build-cache/
          rm -rf .gradle
 
      - name: Checkout source repo
        uses: actions/checkout@main
        with:
          repository: GrapheneOS/PdfViewer
          ref: main
          path: pdfviewer_source
          fetch-depth: 0
          submodules: recursive
 
      - name: Checkout ci source repo (self)
        uses: actions/checkout@main
        with:
          path: ci_source
 
      - name: Initialization values
        run: |
          echo "BUILD_DATE=$(TZ=UTC-8 date +"%y.%m.%d-%H.%M.%S")" >> $GITHUB_ENV
 
      - name: Setup java
        uses: actions/setup-java@main
        with:
          java-version: "${{ env.JDK_VERSION }}"
          distribution: "temurin"
 
      - name: Build apk
        working-directory: ./pdfviewer_source
        run: | 
          chmod +x ./gradlew
          ./gradlew assembleRelease --no-daemon
 
      - name: List generated apk and rename
        working-directory: ./pdfviewer_source
        run: |
          echo "Generated APK files:"
          find app/build/outputs -name "*.apk" -exec ls -lh {} \;
          # mkdir -p ${{ github.workspace }}/dist
          # mv app/build/outputs/apk/release/app-arm64-v8a-release.apk "${{ github.workspace }}/dist/pdfviewer-${{ env.BUILD_DATE }}.apk"
 